<%= render 'style_blogs' %>
<%= render 'side_menu' %>

<main class="blog">
  <div class="content">
    <h2>
      Here you will find some Articles about Ruby on Rails. Please feel free to copy past anything into your own code.
    </h2>

    <p>
      Please feel free to copy past this code and use it without any restrictions!
    </p>
  </div>
</main>
