<%= render 'style_blogs' %>
<%= render 'side_menu' %>

<main class="blog">
  <div class="content">
    <h2>
      Hey There! Some Ruby related articles here:
    </h2>

    <p>
      Please feel free to copy past this code and use it without any restrictions!
    </p>
  </div>
</main>
