<div id="reviews_block"  style="display: none;">

  <div>
    <!--  Render All the reviews -->
    <% @reviews.each do |k,v| %>
      <%= render "review_item",:person => v %>
    <% end %>
  </div>
</div>