<style>
  .main{
    display: flex; /* or inline-flex */
    background-color: #B00100;
    min-height: 500px;
    justify-content:space-around;
    align-items: stretch;
    opacity:0.5;
  }

  .main-content
  {
    justify-content:  center;
    align-items: center;
    display:flex;
    opacity:0.9;
    position:relative;
    min-height: 1000px;
    justify-content:space-around;
  }


  #info-block{
    z-index: 999; width: 50%;
  }

  #info-block-hidden > strong{
    color: #fffdfd;
    opacity: 1;
    font-weight: bolder;
  }

  #info-content{
    background-color: #383844;
    opacity: 0.8;
    color: #6abf39;
    font-size: 0.9em;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    margin-top: 100px;
  }

   strong{
    color: #fffdfd;
    opacity: 1;
    font-weight: bolder;
  }

  #info-block-hidden{
    visibility: hidden;
  }

    .red{
      color: #ff4d4f;
    }
    body{
      background-color: black;
    }
</style>

<script type="text/javascript">

    var keyPresses = 1;
    function printText(currentTextLength){
        var ourHtml = $('#info-block-hidden').html().toString();7
        var textBody = ""
        textBody = ourHtml.substring(0,currentTextLength);
        if (currentTextLength >= ourHtml.length){
            clearInterval(typeInterval)
        }
        textBody += "&#9646"
        $("#info-content").html(textBody)
    }

    var typeInterval = setInterval(() => {
        printText(keyPresses)
        keyPresses += 1
    }, 50)

</script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jura:wght@300" rel="stylesheet">


<div class="main-content">

  <div style="position:absolute; top:0; left:0; bottom:0; right:0;   object-fit:cover;">
    <iframe style="background-color: black"
            id="existing-iframe-example"
            width="2000" height="100%"
            src="https://www.youtube.com/embed/QCPx2bAHLfg?autoplay=1&mute=1&enablejsapi=1&loop=1&list=PLcJ9r24uJV61EAMyHu_6XR1wbVDa45Tm7&vq=large"
            frameborder="1"
    ></iframe>
  </div>


  <div id="info-block" >
    <div id="info-content" style="">
      <!--initially blank space and filled step by step-->
    </div>

    <div id="info-block-hidden" style="visibility: hidden">
      <h2> Hello there! My name is <strong> Serghei </strong> and I am <strong> Full Stack </strong> <span class="red"> Ruby on Rails</span> developer! </h2>
      <p>
        I am ambitious and hard-working FULL STACK Developer with <strong>12 YEARS </strong> of experience.
        If you are trying to build a GREAT site or software, if you experience ANY issue with the existing one, I will be happy to assist you with this because my profession is to HELP people and I have necessary SKILLS to do this.
        I am not a <i class="fa-solid fa-user-ninja"></i> Ninja Developer, I am more like Samurai Developer <i class="fa-regular fa-torii-gate"></i> because my goal is: perfection, exceptional quality, happy and protected client.
      </p>

      <p>
        <strong> Languages:</strong> Ruby,SQL,JavaScript,HTML5, CSS3,TypeScript,ERB,C#
      </p>

      <p>
        <strong>Data:</strong> Postgresql,Redis,Elasticsearch,Oracle,OracleSpatial,SqlServer,MongoDB
      </p>
      <p>
        <strong> Skills:</strong> OOP, OOD, Agile Development,Adaptive web design, STRONG SEO Optimization, Nginx, Unicorn, Ruby on Rails, RSpec, ActiveAdmin, ActionMailer, ActiveRecord, Sidekiq, Ruby Gems, Payment Processing(Stripe, Paypal), SSL, APIs integration(facebook,google,amazon), Git, GitHub, Bitbucket, AJAX, JQuery, AngularJS, AngularJS 2, Fabric.js, Twitter Bootstrap, Datashift Spree, Klaviyo, prerender.io, ASP.NET MVC, LINQ, EF, WPF, ADO.NET, Unit Testing, Nunit, SVN, Microstation.
      </p>

      <p>
        * I started with Ruby 1.8.7 and Ruby on Rails 2.0.2 so don't hesitate contacting me if you have an old application or you are try to migrate to new Ruby on Rails.(I have such experience also).
      </p>
      <a href = "mailto: <%= my_email %>">Send Me an Email</a>
    </div>
  </div>
</div>
