<%= javascript_include_tag "/freewill.js" %>

<style>
  h1 {
    margin-bottom: 30px;
    align-content: center;
    margin-left: 20%;
    margin-right: auto;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-size: 32px;
    text-transform: uppercase;
  }

  h2{font-size: 1.8em;
    margin-top: 40px;
    margin-bottom: 40px;}

  span{
    font-weight: bolder;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 100px;
  }

  .container{
    display: flex;

  }

  #projects{
    background-color: #494949;
    opacity:0.9;
    color: white;
  }

  #projects {
    margin-left: 200px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    margin-top: 100px;
    flex: auto;
    align-items: center;
  }


  @media only screen and (min-width: 1200px) {
    .layout-margin{
      width: 20%;
    }

    .layout-item{
      width: 60%;
    }
  }

  @media only screen and (max-width: 1200px) {
    .layout-margin{
      width: 1%;
    }

    .layout-item{
      width: 100%;
    }
  }

  img{
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 5%;

  }

  body{
    background-image: url("/images/james-harrison-laptop_image.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
    background-size: contain;
    background-attachment: fixed;
    background-color: black;
  }

  .h2_with_line{
    display: block;padding-bottom: 5px; border-bottom: 5px solid rgba(57,255,139,0.48);
    border-top: 5px solid rgba(57,255,139,0.48);
  }

  @media only screen and (min-width: 1200px) {
    .image6,.image9,.image10,.image11{
      height: 300px;
      width: 400px;
    }
    .image5,.image7,.image8,.image12,.image13,.image14,.image15,.image16{
      height: 300px;
      width: 300px;
    }

    .image1{
      height: 180px;
      width: 400px;
    }
    .image2{
      height: 150px;
      width: 300px;
    }

    .image3{
      height: 180px;
      width: 400px;
    }
    .image4{
      height: 150px;
      width: 300px;
    }
  }

  @media only screen and (max-width: 1200px) {
    .image6,.image11{
      height: 200px;
      width: 300px;
    }

    .image9,.image10
    {
      height: 200px;
      width: 200px;
    }

    .image5,.image7,.image8,.image12,.image13,.image14,.image15,.image16{
      height: 200px;
      width: 290px;
    }

    .image1{
      height: 120px;
      width: 300px;
    }
    .image2{
      height: 120px;
      width: 270px;
    }

    .image3{
      height: 120px;
      width: 300px;
    }
    .image4{
      height: 120px;
      width: 270px;
    }
  }


</style>


<div class="container">
  <article id="projects" class="layout-item">
    <h1> So here is Freewill.js: Finally a Framework We All Deserve!!! </h1>


    <div>
      <h2 class="h2_with_line">
        This is how a Lightway framework is really looking like!
      </h2>
      <p>
        There are many frameworks that are called ligh and small but here is how really a tiny framework looking like:
      </p>

      <p style="font-size: 22px;">
        Vue.js - 165kb </br>
        Angular.js - 196kb </br>
        Freewill.js - 8,9 kB! </br>
      </p>

      <h2 class="h2_with_line">
        Here is what you can do with Freewill.js
      </h2>

      <p>
        Here is a standard    <span> Bind </span>
      <pre>
      <code class="language-html">
    &lt;p&gt;
    Here is my friend: {name}
    &lt;/p&gt;
      </code>
    </pre>
      </p>


      <p>
        </br>
        You can use fast <span> Loop.</span> Just use 'i' :) :
      <pre>
      <code class="language-html">
&lt;p s-each=&quot;cats&quot; &gt;
  Meet my Cat: {i.name}
&lt;/p&gt;
      </code>
    </pre>
      </p>

      <p>
        </br>
        Or you can use 'c - from cats' automatically - don't waste your time!
      <pre>
      <code class="language-html">
&lt;p s-each=&quot;cats&quot; &gt;
  Meet my Cat: {c.name}
&lt;/p&gt;
      </code>
    </pre>
      </p>


      <p>
        </br>
        Or you can use 'c - from cats' automatically - don't waste your time!
        <pre>
      <code class="language-html">

      &lt;input type=&quot;text&quot; s-bind=&quot;name&quot; value=&quot;Tomas&quot;&gt;&lt;/input&gt;
      His name is: {name}

      Result:

      &lt;input type=&quot;text&quot; s-bind=&quot;name&quot; value=&quot;Tomas&quot;&gt;&lt;/input&gt;
      His name is: Tomas
        </code>
    </pre>
      </p>

      <p>
        <span>
        Run Random Code directly!:
      </span>
      <pre>
      <code class="language-html">
     &lt;div s-eval&gt;
          var a = 33
          var b = 66
          a + b
        &lt;/div&gt;

        Result:

         &lt;div&gt;
            99
          &lt;/div&gt;
      </code>

    </pre>
      </p>

  </article>
</div>

