@media only screen and (min-width: 1200px) {
    #info-block {
        z-index: 999;
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    #info-block {
        z-index: 999;
        width: 90%;
    }
}

.main-content
{
    justify-content:  center;
    align-items: center;
    display:flex;
    opacity:0.9;
    position:relative;
    min-height: 1000px;
    justify-content:space-around;
}


#info-block-hidden > strong{
    color: #fffdfd;
    opacity: 1;
    font-weight: bolder;
}

#info-content{
    background-color: #383844;
    opacity: 0.8;
    color: #6abf39;
    font-size: 1em;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-top: 100px;
    transition: all .5s linear;
}

.home > strong{
    color: #fffdfd;
    opacity: 1;
    font-weight: bolder;
}

#info-block-hidden{
    visibility: hidden;
}

.red{
    color: #ff7550;
}

body{
    background-color: black;
}


.rating
{
    color: black;
    margin-top: 20px;
    display: inline-block;
    margin-right:10px;
}

.ratings i{
    color:#cecece;
    font-size:32px;
}

.rating-color{
    color:#fbc634 !important;
}


.review-stat{
    font-weight:300;
    font-size:16px;
    margin-bottom:2px;
}

.inline_block
{
    display: inline-block;
}

.img{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.reviews
{
    padding-left: 10px;
    display: block;padding-bottom: 3px;
    border-bottom: 3px solid #6abf39;

    padding-top: 5px;
    z-index: 999;
    width: 100%;
    opacity:0.9;
    background-color: #383844;
    color: white;
    margin-top: 5px;
    display: block;
    flex-direction:row;
}


.fa-linkedin
{
    margin-left: 9px;
}

a{
    cursor: pointer;
    align-content: center;
    color: white;
    font-size: 1em;
    margin-left: 10px;
}


